body {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 50px; /* حجم النص الافتراضي للصفحة بالكامل */
}

.container {
  margin-top: 50px;
}

.text-box {
  padding: 10px;
  display: inline-block;
  text-align: left;
  margin-top: 20px;
  font-family: Arial, sans-serif; /* خط النص الافتراضي */
}

#fontSelect {
  margin-top: 10px;
}

#displayText {
  text-align: left; /* المحاذاة إلى اليسار */
  font-size: 100px; /* زيادة حجم النص في #displayText إلى 50 بكسل */
}

@font-face {
  font-family: 'A';
  src: url('fonts/A.ttf') format('truetype');
}

@font-face {
  font-family: 'B';
  src: url('fonts/B.ttf') format('truetype');
}

@font-face {
  font-family: 'C';
  src: url('fonts/C.ttf') format('truetype');
}

@font-face {
  font-family: 'D';
  src: url('fonts/D.ttf') format('truetype');
}

@font-face {
  font-family: 'E';
  src: url('fonts/E.ttf') format('truetype');
}

@font-face {
  font-family: 'F';
  src: url('fonts/F.ttf') format('truetype');
}

@font-face {
  font-family: 'G';
  src: url('fonts/G.ttf') format('truetype');
}

@font-face {
  font-family: 'H';
  src: url('fonts/H.ttf') format('truetype');
}

@font-face {
  font-family: 'I';
  src: url('fonts/I.ttf') format('truetype');
}

@font-face {
  font-family: 'J';
  src: url('fonts/J.ttf') format('truetype');
}

@font-face {
  font-family: 'K';
  src: url('fonts/K.ttf') format('truetype');
}
