body {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 50px; /* حجم النص الافتراضي للصفحة بالكامل */
}

.container {
  margin-top: 50px;
}

.text-box {
  padding: 10px;
  display: inline-block;
  text-align: left;
  margin-top: 20px;
  font-family: Arial, sans-serif; /* خط النص الافتراضي */
}

#fontSelect {
  margin-top: 10px;
}

#displayText {
  text-align: left; /* المحاذاة إلى اليسار */
  font-size: 100px; /* زيادة حجم النص في #displayText إلى 50 بكسل */
}
/* باقي قواعد CSS للخطوط */
