body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  margin-top: 50px;
}

.text-box {
  padding: 10px;
  display: inline-block;
  text-align: left;
  margin-top: 20px;
  font-family: Arial, sans-serif; /* خط النص الافتراضي */
}

#fontSelect {
  margin-top: 10px;
}

#displayText {
  text-align: left; /* تحديد المحاذاة إلى اليسار */
}

@font-face {
  font-family: 'A';
  src: url('fonts/A.ttf') format('truetype');
}

@font-face {
  font-family: 'B';
  src: url('fonts/B.ttf') format('truetype');
}
